# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/IceBreakersFront/dist
/IceBreakersFront/tmp
/IceBreakersFront/out-tsc

# dependencies
/node_modules
/IceBreakersFront/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/IceBreakersFront/e2e/*.js
/IceBreakersFront/e2e/*.map

# System Files
/IceBreakersFront/.DS_Store
Thumbs.db
.DS_Store
