

<mat-card>
    <mat-card-header><h1>{{gametitle}}</h1></mat-card-header>
    <h2>Explicación de la dinámica</h2>

<p>El objetivo de esta dinámica es conocer mejor a nuestros compañeros, mediante una palabra (concepto, lugar, ...) y su conversación posterior.</p>
<p>El facilitador debe elegir una temática, como por ejemplo: con que animal te identificas, un lugar donde te gustaría vivir, una emoción, ….</p>
<p>La dinámica consiste en:</p>
<p> - El facilitador informa a los participantes de la temática y del funcionamiento de la dinámica.</p>
<p> - Cada participante debe indicar su nombre y la palabra, dependiendo de la temática que haya elegido el facilitador.</p>
<p> - Cuando todos los participantes se hayan dado de alta, se mostraran las palabras de cada participante sin el nombre de la persona asociada. Cada participante debe averiguar quien es quien y asociar a cada palabra un jugador. Esta parte se puede realizar al inicio de la facilitación o antes.</p>
<p> - En la sesión, el facilitador mostrará la palabra y mostrará quién es. En ese momento la persona que es debe explicar porqué ha escogido esta palabra, podemos aprovechar también para preguntar quién ha acertado y potenciar que todos puedan opinar. Así con cada palabra.</p>
<p> - Al finalizar con todas las palabrar podemos hacer un ranking de quien ha acertado más.</p>

</mat-card>




